.DS_Store
.gradle
/**/**.iml
/**/*.log
/**/__pycache__/
/.idea/
/JiraAutomatedTasks.egg-info/
/build/
/**/bug_threshold_*.txt
/**/output_info_*.txt
/**/output_message.txt
/liferay/test.py
/**/token.json
/liferay/tools/*.pkl
/venv/
