.DS_Store
.gradle
/**/**.iml
/**/*.log
/**/__pycache__/
/.idea/
/JiraAutomatedTasks.egg-info/
/build/
/liferay/bug_threshold_exceed_message.txt
/liferay/bug_threshold_warning_message.txt
/liferay/bug_threshold_warning_message_*.txt
/liferay/output_info.txt
/liferay/output_info_*.txt
/liferay/output_message.txt
/liferay/test.py
/liferay/token.json
/liferay/tools/*_filters.pkl
/test/token.json
/venv/
