google==3.0.0
google-api-core==2.10.2
google-api-python-client==2.66.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.7.1
googleapis-common-protos==1.57.0
pycryptodome==3.15.0
pytz==2022.7
setuptools==60.2.0
jira==3.4.1